.form {
    -fx-vgap: 5px;
    -fx-hgap: 5px;
}

.modal-title {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.modal-minor-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.three-column-combo-box {
    -fx-pref-width: 300px;
}
